.profile__edit-button {
  width: 24px;
  height: 24px;
  background: url(../../../images/Edit\ Button.svg);
  background-repeat: no-repeat;
  border: 1px #ffffff solid;
  background-position: center;
  cursor: pointer;
  margin-left: 16px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-top: 26px;
    margin-left: 10px;
  }
}