.page {
    font-family: 'inter', Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: black;
    box-sizing: border-box;
}
