.profile__add-button {
  background: url(../../../images/Add\ Button.svg);
  width: 150px;
  height: 50px;
  border: 2px #ffffff solid;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin: 0;
  align-content: center;
}
.profile__add-button:hover {
  opacity: 0.6;
}