.element__like-button {
    background: url(../../../images/Like.svg);
    width: 22px;
    height: 19px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    padding: 0;
    border: 0;
}

.element__like-button:hover {
    opacity: 0.5;
}
